 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 .navbar {
    display: flex;
    justify-content: center;
    background-color: rgb(14, 11, 11);
    gap: 40px;
 }

 .fa-search {
    padding-top: 20px;
    font-size: 22px;
    color: #fdf8f8;
 }

 .tap-text {
    padding-top: 20px;
    
    display: flex;
    list-style: none;
    gap: 20px;
 }

 .tap-text a {
    text-decoration: none;
    color: rgba(180, 168, 168, 1);

 }

 .logo img {
    height: 60px;
 }

 .copy {
    padding-top: 15px;
 }

 .hearo {
    text-align: center;
    background-image: url(./assets/ase-header-hero-offer-lastchance-202511_GEO_AMR.png);
    height: 650px;
    padding-top: 470px;
    color: rgb(255, 255, 255);

 }

 .heading {
    font-size: 70px;
 }

 .shop-button {
    background-color: #007aff;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 40px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    display: inline-block;
    cursor: pointer;
 }

 .section {
    text-align: center;
    background-image: url(./assets/hero__bdntboqignj6_large.jpg);
    height: 650px;
    color: rgb(253, 254, 255);
    padding-top: 470px;
 }

 .heading-1 {
    font-size: 50px;
 }

 .heading-2 {
    font-size: 30px;
 }

 .shop-now {
    background-color: #007aff;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 40px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    display: inline-block;
    cursor: pointer;
 }

 .shop-buy {
    background-color: #007aff;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 40px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    display: inline-block;
    cursor: pointer;
 }

 .section-2 {
    text-align: center;
    background-image: url(./assets/hero_iphone_air__0gxyavihpiqu_large.jpg);
    height: 650px;
    color: rgb(0, 0, 0);

 }

 .heading-3 {
    text-align: center;
    background-image: url(./assets/hero_iphone_air__0gxyavihpiqu_large.jpg);
    height: 650px;
    color: rgb(0, 0, 0);
    padding-top: 470px;
 }

 .card-grop {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 80px;
 }

 .card {
    text-align: center;
    background-image: url(./assets/promo_holiday_2025__d5j0zrzqr6mq_large.jpg);
    height: 450px;
    width: 550px;
    color: rgb(0, 0, 0);
 }

 .shop-gifts {
    background-color: #007aff;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 40px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    display: inline-block;
    cursor: pointer;
 }

 .section-4 {
    background-image: url(./assets/promo_airpodspro_3__f6xmza7bglei_large.jpg);
    height: 450px;
    width: 500px;
    text-align: center;
    padding-top: 300px;

 }

 .shop-gifts-1 {
    background-color: #007aff;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 40px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    display: inline-block;
    cursor: pointer;
 }

 .section-5 {
    background-image: url(./assets/promo_apple_watch_series_11__b63hxviqvonm_large.jpg);
    height: 450px;
    width: 500px;
    text-align: center;
 }

 .section-6 {
    background-image: url(./assets/promo_ipad_air_avail__6i02t7nujr62_large.jpg);
    height: 450px;
    width: 500px;
    text-align: center;
 }

 .footer {
    background: #f5f5f7;
    padding: 40px 20px;
    color: #6e6e73;
    border-top: 1px solid #d2d2d7;
 }


 .footer-container {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
 }


 .footer h4 {
    font-size: 14px;
    font-weight: 600;
    color: #1d1d1f;
    margin-bottom: 12px;
 }


 .footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
 }


 .footer ul li {
    margin: 6px 0;
    font-size: 13px;
 }


 .footer ul li a {
    color: #6e6e73;
    text-decoration: none;
 }


 .footer-bottom {
    max-width: 1100px;
    margin: 20px auto 0;
    font-size: 12px;
    color: #6e6e73;
    border-top: 1px solid #d2d2d7;
    padding-top: 15px;
 }